#line-chart {
  position: relative;
  height: 100%;

  .viz-svg-wrap {
    width: calc(80vw - 320px);
    max-width: 1200px;
    max-height: 1000px;
  }
  @media only screen and (max-aspect-ratio: 12/10) {
    .viz-svg-wrap {
      width: 90vw;
      max-height: calc(90vh - 16.4vw);
    }
  }
  @media only screen and (max-width: 900px) and (min-aspect-ratio: 12/10) {
    .viz-svg-wrap {
      width: calc(85vw - 180px);
    }
  }
  /* Axes */
  .axis>.domain {
    display: none;
  }
  .axis text {
    font-size: 0.9em;
    color: var(--light);
  }
  .axis>.tick {
    position: relative;
  }
  .axis.x text {
    transform: translateX(1.6em);
  }
  .axis.y text {
    transform: translateY(-0.8em);
  }
  .bottom-axis {
    stroke: var(--dark);
    stroke-linecap: round;
  }

  /* Grid lines */
  .grid>.domain {
    display: none;
  }
  .grid line {
    stroke: var(--line);
    stroke-width: 1;
  }

  .data-line {
    stroke: var(--dark);
    // stroke-width: 2;
    stroke-linejoin: round;
    fill: none;
    transition: stroke 600ms cubic-bezier(0.215, 0.61, 0.355, 1);
  }
  .data-line.faded {
    stroke: var(--line);
  }
  .reg-line {
    stroke: var(--theme);
    stroke-linejoin: round;
    fill: none;
  }
  .reg-line-label-text {
    position: absolute;
    transform: translate(0.9em, 1.27em);
    font-weight: 700;
    font-style: italic;
    font-size: 0.9em;
  }
  .reg-line-label-text>.span {
    fill: var(--normal);
    transition: fill 800ms var(ease-out-cubic);
  }
  .reg-line-label-text>.span.off {
    fill: var(--light);
  }
  .reg-line-label-rect {
    height: 1.8em;
    fill: var(--background);
    stroke: var(--line);
  }
  .reg-line-label-rect.linear {
    width: 4.6em;
  }
  .reg-line-label-rect.quadratic {
    width: 7.6em;
  }
  .reg-line-label-rect.cosine {
    width: 15.6em;
  }
}
