#polar-plot {
  position: relative;
  height: 100%;

  .viz-svg-wrap {
    width: calc(80vw - 320px);
    max-width: 90vh;
  }
  @media only screen and (max-aspect-ratio: 12/10) {
    .viz-svg-wrap {
      width: 90vw;
      max-width: calc(80vh - 90px) !important;
      max-height: calc(80vh - 90px);
    }
  }
  @media only screen and (min-aspect-ratio: 18/17) and (max-height: 1100px) {
    .viz-svg-wrap {
      max-width: 90vh;
    }
  }
  @media only screen and (max-width: 900px) and (min-aspect-ratio: 12/10) {
    .viz-svg-wrap {
      max-width: 90vh;
      width: calc(90vw - 180px);
    }
  }
  /* Axes */
  .axis .tick, .ticks .tick {
    font-size: 0.9em;
    position: relative;
    fill: var(--light);
    transition: opacity var(--ease-cubic) 800ms;
  }
  .tick:not(.secondary) {
    animation: opacity var(--ease-cubic) 800ms;
  }
  .ticks .tick .text {
    fill: var(--light);
  }

  /* Grid lines */
  .grid-line, .grid-circle {
    fill: none;
    stroke: var(--line);
    stroke-width: 1;
    transition: opacity var(--ease-cubic) 800ms;
  }
  .grid-circle.secondary,
  .r.tick.secondary,
  .grid-circle.off,
  .r.tick.off {
    opacity: 0;
  }
  .grid-circle.secondary.on,
  .r.tick.secondary.on {
    opacity: 1;
  }

  .data-line {
    stroke-linejoin: round;
    fill: none;
    transition: stroke 600ms cubic-bezier(0.215, 0.61, 0.355, 1);
  }

  .stretch {
    stroke: var(--normal);
  }
  .winter.stretch {
    fill: var(--cool);
    opacity: 0.2;
  }
  .summer.stretch {
    fill: var(--warm);
    opacity: 0.2;
  }
}
