#polar-plot {
  position: relative;
  height: 100%;

  .viz-svg-wrap {
    width: 85vw;
    max-width: 85vh;
  }
  .viz-scroll-box {
    right: 0;
  }
  /* Axes */
  .axis .tick, .ticks .tick {
    font-size: 0.9em;
    position: relative;
    fill: var(--light);
    transition: opacity var(--ease-cubic) 800ms;
  }
  .tick:not(.secondary) {
    animation: opacity var(--ease-cubic) 800ms;
  }
  .ticks .tick .text {
    fill: var(--light);
  }

  /* Grid lines */
  .grid-line, .grid-circle {
    fill: none;
    stroke: var(--line);
    stroke-width: 1;
    transition: opacity var(--ease-cubic) 800ms;
  }
  .grid-circle.secondary,
  .r.tick.secondary,
  .grid-circle.off,
  .r.tick.off {
    opacity: 0;
  }
  .grid-circle.secondary.on,
  .r.tick.secondary.on {
    opacity: 1;
  }

  .data-line {
    stroke-linejoin: round;
    fill: none;
    transition: stroke 600ms cubic-bezier(0.215, 0.61, 0.355, 1);
  }

  .stretch {
    stroke: var(--light);
  }
  .winter.stretch {
    fill: var(--cool);
    opacity: 0.4;
  }
  .summer.stretch {
    fill: var(--warm);
    opacity: 0.4;
  }
}
