.section-wrap {
  /* padding: 6em 0; */
  height: 520vh;
  display: flex;
  flex-direction: column;
}
.header-wrap {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.header-span {
  display: inline-block;
  white-space: pre;
}
