.section-wrap {
  display: flex;
  flex-direction: column;
}
.section-content-wrap {
  height: auto;
  width: 100%;
  overflow: hidden;
  padding: 6em 0;
  padding-left: env(safe-area-inset-left);
  padding-right: env(safe-area-inset-right);
  box-sizing: border-box;
}

/* Common viz styles */
.viz-wrap {
  height: 100vh;
  display: flex;
  align-items: center;
  position: sticky;
  top: -1px;
  padding-left: env(safe-area-inset-left);
  padding-right: env(safe-area-inset-right);
}
.viz-svg-outer-wrap {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
#polar-plot .viz-des-wrap {
  border-left: none;
}
.viz-scroll-box {
  height: 100%;
  margin: 0 7.5%;
  position: absolute;
  top: 0;
  display: flex;
  flex-direction: column;
  pointer-events: none;
}
.viz-des-wrap {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  height: 100%;
  flex-shrink: 1;
}
.viz-scroll-anchor-top {
  height: 100vh;
  flex-shrink: 0;
}
.viz-scroll-anchor-bottom {
  height: 100vh;
  flex-shrink: 0;
}
.viz-des-text {
  display: block;
  width: 24em;
  box-sizing: border-box;
  margin: 0;
  padding: 0.8em 1.2em;
  background: var(--background);
  border-radius: 0.8em;
  border: solid 1px var(--line);
}
@supports (backdrop-filter: blur(0px)) {
  .viz-des-text {
    background: var(--background-opaque);
    backdrop-filter: saturate(0.5) blur(32px);
    border: solid 1px var(--line-opaque);
  }
}
.viz-des-text.dummy {
  visibility: hidden;
}

@media only screen and (max-width: 768px) {
  .section-content-wrap {
    padding: 4em 0;
    padding-left: env(safe-area-inset-left);
    padding-right: env(safe-area-inset-right);
  }
  .viz-scroll-box {
    width: 85%;
  }
  .viz-des-wrap {
    width: 100%;
    align-items: center;
  }
  .viz-des-text {
    width: 20em;
  }
}
