@font-face {
  font-family: Monument;
  font-weight: 900;
  src: url("/data/MonumentExtended-Ultrabold.woff") format("woff");
}
@keyframes blur {
  from {
    filter: blur(20px);
  }
  to {
    filter: blur(0);
  }
}
@keyframes blur-light {
  from {
    filter: blur(4px);
  }
  to {
    filter: blur(0);
  }
}
@keyframes opacity {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes up-center {
  from {
    transform: translate3d(-50%, calc(-50% + 3.2em), 0);
  }
  to {
    transform: translate3d(-50%, -50%, 0);
  }
}
@keyframes down-center {
  from {
    transform: translate3d(-50%, calc(-50% - 3.2em), 0);
  }
  to {
    transform: translate3d(-50%, -50%, 0);
  }
}
@keyframes right {
  from {
    transform: translate3d(-2em, 0, 0);
  }
  to {
    transform: translate3d(0, 0, 0);
  }
}
@keyframes left {
  from {
    transform: translate3d(2em, 0, 0);
  }
  to {
    transform: translate3d(0, 0, 0);
  }
}

body {
  margin: 0;
  font-family: 'Roboto Mono', 'Andale Mono', 'Lucida Sans', monospace;
  font-weight: 500;
  font-size: 18px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  --ease-out-quad: cubic-bezier(0.25, 0.46, 0.45, 0.94);
  --ease-quad: cubic-bezier(0.455, 0.03, 0.515, 0.955);
  --ease-out-cubic: cubic-bezier(0.215, 0.61, 0.355, 1);
  --ease-cubic: cubic-bezier(0.645, 0.045, 0.355, 1);
  --ease-out-quart: cubic-bezier(0.165, 0.84, 0.44, 1);
}

h1, h2 {
  font-family: 'Monument', 'Source Sans Pro', 'Roboto', 'Arial', sans-serif;
  font-weight: 900;
  line-height: 1.2;
  margin: 0.2em 0;
}
h1 {
  font-size: 16em;
}
h2 {
  font-size: 6em;
}
p, button, g, text {
  font-size: inherit;
  font-family: 'Roboto Mono', 'Andale Mono', 'Lucida Sans', monospace;
  font-weight: 500;
  line-height: 1.4;
}
svg {
  overflow: visible;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.limit-box {
  width: 80%;
  max-width: 1200px;
  margin: 0 auto;
}
.limited {
  max-width: 720px;
}

.animate {
  --animation-speed: 1200ms;
  --animation-delay: 0ms;
}
.animate.left {
  opacity: 0;
  filter: blur(20px);
  transform: translate3d(2em, 0, 0);
}
.animate.right {
  opacity: 0;
  filter: blur(20px);
  transform: translate3d(-2em, 0, 0);
}
.animate.left.on {
  animation: opacity var(--animation-speed) var(--animation-delay) var(--ease-out-quad) forwards,
    blur calc(var(--animation-speed)/2) var(--animation-delay) var(--ease-out-quad) forwards,
    left var(--animation-speed) var(--animation-delay) var(--ease-out-quart) forwards;
}
.animate.right.on {
  animation: opacity var(--animation-speed) var(--animation-delay) var(--ease-out-quad) forwards,
    blur calc(var(--animation-speed)/2) var(--animation-delay) var(--ease-out-quad) forwards,
    right var(--animation-speed) var(--animation-delay) var(--ease-out-quart) forwards;
}
.animate.blur {
  opacity: 0;
  filter: blur(20px);
}
.animate.blur.on {
  animation: opacity var(--animation-speed) var(--animation-delay) var(--ease-out-quad) forwards,
    blur calc(var(--animation-speed)/2) var(--animation-delay) var(--ease-out-quad) forwards;
}
